// Variables
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
:root {
    --color-bg-btn: #1c1c1c;
    --color-bg-white: #fff;
    --color-primary: #d4d4d2;
    --color-primary-btn-bg: #2b3333;
    --color-primary-btn-special: #b51442;

    // Alt palette
    --color-background-btn: #2d3749;
    --color-btns: #2d3749;
    --color-num-screen: #888c91;
    --color-bg-screen: #282e38;
    --color-btn-text: #dfe0e1;
    --font-logo: "Orbitron", sans-serif;
}
