.main-wrapper {
    height: 50rem;
    width: 30rem;
    border-radius: 10px;
    display: grid;
    margin-bottom: 3rem;
    grid-template-rows: 10% 25% auto auto auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "logo    logo    logo    logo    logo"
        "display display display display display"
        "buttons buttons buttons buttons buttons"
        "buttons buttons buttons buttons buttons"
        "buttons buttons buttons buttons buttons";
}

.logo {
    grid-area: logo;
    background-color: var(--color-primary-btn-bg);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.screen {
    grid-area: display;
    background-color: var(--color-bg-white);
}

.buttons {
    grid-area: buttons;
    background-color: var(--color-bg-btn);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    &__text {
        margin: 1rem 0;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 1.7rem;
    }
}
